body {
    margin: 0;
    padding: 0;
}

header {
    width: 800px;
    height: 589px;
    margin: auto;
    background-image: url("./img/main.png");
    background-position: center;
    background-repeat: no-repeat;
}

.nav-bar {
    text-align: center;
}

.nav-bar li{
    display: inline-block;
    padding-right: 25px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: normal;
}

h3, h1, a{
    text-align: center;
    color: white;
}

.elena {
    padding: 50px 0 30px 0;
    font-family: 'Niconne', cursive;
    font-size: 50px;
    text-align: center;
    color: white;
}

.good-day {
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    margin: 60px 0 30px 0;
}

.themeforest {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.left-line, .right-line {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 2px;
    background: #447774;
}

.right-line {
    margin-left: 40px;
}

.left-line {
    margin-right: 40px;
}

a {
    text-decoration: none;
}

.get-copy, .read-more {
    display: block;
    margin: 80px auto;
    background-color: #00C5AF;
    border: 0;
    border-radius: 35px;
    width: 260px;
    height: 55px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}

.get-copy:hover, .read-more:hover {
    background-color: #00e1cc;
}

.first {
    display: flex;
    width: 800px;
    margin: auto;
    background-color: #f0f1f1;
}

.first>div {
    padding: 40px 40px;
    margin: auto;
    text-align: center;
}

.text {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    color: #777B81;
    font-size: 14px;
}

h4 {
    color: #3B464D;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

.line {
    background-color: #E2E3E5;
    width: 100%;
    height: 2px;
    margin: 20px auto 30px auto;
}

.second {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    margin: auto;
    padding: 50px 0 20px;
}

.second div:not(.long-line) {
    padding: 0 80px;
    flex: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    text-align: left;
    color: #777B81;
}

.read-more {
    width: 100px;
    height: 40px;
    margin: 35px 0;
    font-weight: normal;
    cursor: pointer;
    font-size: 15px;
}

.long-line {
    background: linear-gradient(to right, #E2E3E5, #f2f3f5);;
    width: 100%;
    height: 2px;
    margin: 10px 0 35px 0;
}

.third {
    width: 800px;
    margin: auto;
    background-color: #f0f1f1;
}

.third>div {
    padding: 60px 60px 20px 60px;
    margin: auto;
}

.third h4 {
    display: inline;
    position: relative;
    bottom: 5px;
    left: 15px;
}

.sec3-wrap {
    margin-bottom: 20px;
}

.third button {
    background-color: #D2D6DB;
}
.third button:hover {
    background-color: #a5a9ae;
}

.fourth {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    width: 800px;
    margin: auto;
}

.fourth>div {
    flex: 0;
}

.fourth a {
    color: #00C4AF;
}

.fourth a:hover {
    color: #00e2ce;
}

.fifth {
    display: flex;
    width: 800px;
    margin: auto;
    background-color: #f0f1f1;
}

.fifth>div:not(.long-line) {
    width: 35%;
    padding: 60px 0 20px 0;
    margin: auto;
}

.fifth h4 {
    display: inline;
    position: relative;
    bottom: 8px;
    left: 15px;
}

.iconify {
    display: inline;
    color: #BBC6CD;
    font-size: 25px;
}

.sixth {
    display: flex;
    padding: 50px 0;
    width: 800px;
    margin: auto;
}

.sixth>div {
    width: 20%;
    margin: auto;
}

.sixth button {
    background-color: #D2D6DB;
}
.sixth button:hover {
    background-color: #a5a9ae;
}

.content {
    flex-basis: 40%;
}

.seven {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    width: 800px;
    margin: auto;
    background-color: #00C1A6;
}

.typo {
    width: 40%;
    margin: auto;
}

.typo h4 {
    display: inline;
    position: relative;
    bottom: 5px;
    left: 5px;
    color: #FFFFFF;
}

.typo .iconify {
    color: #64DDCF;
}

.seven .line {
    background-color: #00d1ba;
    opacity: .4;
}

.firms {
    display: flex;
    font-size: 30px;
    color: #A5EDE4;
}

.firms div {
    flex: 1;
    padding: 0 40px;
}

.firms>div:nth-child(4) {
    font-family: 'Muli', sans-serif;
}
.firms>div:nth-child(3) {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}

.firms>div:nth-child(2) {
    font-family: 'Raleway', sans-serif;
}

.firms>div:nth-child(1) {
    font-family: 'Dancing Script', cursive;
}

footer {
    display: flex;
    width: 800px;
    margin: auto;
    padding: 10px;
}
footer div {
    position: relative;
    top: 15px;
}

footer div:nth-child(1) {
    padding: 0 35px;
    flex-basis: 75%;
    color: #C4C6C6;
}

footer div:nth-child(1):before {
    content: 'Elenea ©';
    color: #4e5050;
}

/*Width for Ipad*/

@media screen and (min-width: 768px) and (max-width: 1023px){
    header, .first, .second, .third, .fourth, .fifth, .sixth, .seven, footer {
        width: 100%;
    }

    header {
        background-image: url("./img/main-768.png");

    }

    .long-line {
        width: 70%;
        margin: 10px auto 35px;
    }

    .third .long-line {
        width: 100%;
    }

    .second div:not(.long-line) {
        padding: 0 40px;
    }
    .sixth>div {
        width: 35%;
    }
    .firms {
        font-size: 24px;
    }
    .typo {
        width: 55%;
        text-align: center;
    }
    .content h4 {
        text-align: center;
        position: relative;
        top: 15px;
    }
    footer div:nth-child(1) {
        flex-basis: 70%;
    }

    .good-day {
        font-size: 50px;
    }
}

/*width for IphoneX*/

@media screen and (min-width: 320px) and (max-width: 414px) {
    header, .first, .second, .third, .fourth, .fifth, .sixth, .seven, footer {
        width: 100%;
        height: 400px;
    }

    .elena {
        padding: 20px 0;
    }

    .nav-bar li {
        font-size: 13px;
    }
    .good-day {
        font-size: 30px;
        margin: 40px 0 30px 0;
    }

    .themeforest {
        font-size: 15px;
        padding-top: 15px;
    }

    .get-copy {
        margin: 25px auto;
        width: 130px;
        height: 40px;
        font-size: 11px;
    }

    .left-line {
        display: none;
    }

    .right-line {
        display: block;
        margin: 20px auto;
        width: 80px;
    }

    .first {
        flex-wrap: wrap;
        height: 410px;
        padding: 0;
    }

    .first>div {
        padding: 0 20px;
        margin: 30px auto;
        text-align: center;
        width: 35%;
    }

    .first>div:nth-child(3) {
        margin: 0 auto 20px;
    }

    .line {
        margin: 0 auto 20px auto;
    }

    .long-line {
        margin-bottom: 10px;
    }

    .second {
        flex-wrap: wrap;
        height: 755px;
        padding: 30px 0 0 0;
    }

    .second>div {
        height: 390px;
    }

    .read-more {
        margin: 20px auto 0;
    }

    .text, h4 {
        text-align: center;
    }

    .third {
        height: 245px;
    }

    .third h4 {
        left: 5px;
    }

    .third>div {
        padding: 30px;
        margin: auto;
        text-align: center;
    }

    .fourth {
        flex-wrap: wrap;
        height: 540px;
        padding: 30px 0 0 0;
    }

    .fourth>div {
        width: 45%;
        text-align: center;
        flex-basis: inherit;
    }

    h4 {
        font-size: 15px;
    }

    .text {
        font-size: 12px;
    }
    .long-line, .third .long-line {
        width: 70%;
        margin: 0 auto;
    }

    .fourth img {
        display: block;
        margin: auto;
        width: 80%;
    }

    .fourth>div:nth-child(3) {
        padding-top: 10px;
    }

    .fifth {
        height: 310px;
    }
    .fifth>div:not(.long-line) {
        padding: 0;
        margin: 30px auto;
    }

    .fifth h4{
        display: block;
        position: static;
        bottom: 8px;
    }

    .fifth .iconify {
        display: block;
        margin: auto;
    }

    .sixth {
        flex-direction: column;
        height: 410px;
        padding: 24px 0;
    }
    .sixth>div {
        width: 70%;

    }

    .sixth img {
        display: block;
        margin: auto;
    }

    .seven {
        height: 95px;
        padding: 0 0 10px 0;
    }
    .firms {
        flex-flow: column wrap;
        font-size: 15px;
        height: 50%;
    }

    .firms>div {
        height: 40%;
        margin: auto;
        flex-basis: inherit;
    }

    .typo {
        width: 75%;
        height: 30%;
    }

    .content h4 {
        text-align: center;
        position: relative;
        top: 15px;
    }

    footer {
        height: 30px;
        padding: 0;
    }
    footer div:nth-child(1) {
        flex-basis: 80%;
        padding: 0;
        font-size: 12px;
    }

    footer .iconify {
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px){
    header, .first, .second, .third, .fourth, .fifth, .sixth, .seven, footer {
        width: 1024px;
    }
    header {
        background-image: url("./img/main-large.jpg");
    }

    .first img {
        width: 25%;
    }
    h4, .nav-bar li {
        font-size: 20px;
    }

    .text {
        font-size: 18px;
    }

    .elena {
        font-size: 60px;
    }

    .firms div {
        padding: 0 65px;
    }

    .typo {
        width: 40%;
    }

    .left-line, .right-line {
        width: 150px;
        height: 2px;
        background: #87dedb;
    }

    .read-more {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }

    .sixth {
        height: 245px;
    }

    .content h4 {
        margin-top: 0;
    }

    footer {
        height: 50px;
    }

    footer .iconify {
        font-size: 30px;
    }

}

@media screen and (min-width: 414px) and (max-width: 767px){
    header, .first, .second, .third, .fourth, .fifth, .sixth, .seven, footer {
        width: 100%;
    }
    header {
        background-image: url("./img/main-for-IphoneX.png");
    }
    .nav-bar li {
        font-size: 15px;
    }
    .good-day {
        font-size: 35px;
        margin: 40px 0 30px 0;
    }

    .themeforest {
        font-size: 20px;
        padding-top: 15px;
    }
}

@media screen and (max-width: 600px) {

}