body {
    background: #05263F;
    font-family: 'Hepta Slab', serif;
}
img {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 240px;
    height: 240px;
}
.wrapper {
    position: relative;
    background-color: #1E3C53;
    padding: 30px 40px 40px 40px;
    width: 400px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    text-align: center;
}
h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
h2 {
    color: white;
    font-size: 45px;
    margin: 0;
    padding-bottom: 20px;
}

.search {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

.resultWindow {
    background-color: #1E3C53;
    color: #dedede;
    border-radius: 0 0 8px 8px;
    top: 30px;
    font-size: 25px;
    line-height: 50px;
}

input[placeholder] {
    font-family: 'Hepta Slab', serif;
    text-align: center;
}
